.root {
    -fx-background-color: #F2F4F7;
}

#profileBox {
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#leaveApprovalBox {
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#taxAndBenefitsBox {
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#profileView {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
