.root {
    -fx-background-color: #F2F4F7;
}

#contentPane {
    -fx-background-color: white;
}

#side_menu {
    -fx-background-color: #C5172E;
}

.menu-button{
    -fx-font-family: "Poppins";
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 30;
    -fx-background-radius: 0;

    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.menu-button:hover {
    -fx-background-color: #F51835;
}

.menu-button-active {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #9E1111, #C5172E);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
