.root {
    -fx-background-color: #F2F4F7;
}

#employeeDetails{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#updateButton {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#updateButton:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#cancelButton {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#cancelButton:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#deleteemp_button:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#deleteemp_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#saveButton:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#saveButton {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#saveButton:disabled {
    -fx-background-color: #A0A0A0; /* inactive state */
    -fx-cursor: default;
}

#saveButton:disabled:hover {
    -fx-background-color: #B0B0B0; /* Slightly lighter grey on hover */
}