.root {
    -fx-background-color: #F2F4F7;
}

#employeeDetails{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#updateButton {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#updateButton:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}


#saveChangesButton:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#saveChangesButton {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#addemp_button:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#addemp_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}

#deleteemp_button:hover {
    -fx-background-color: #F51835;
    -fx-cursor: hand;
}

#deleteemp_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
}