/* root colors */

/* :root {
    --primary-color: #C5172E;
    --secondary-color: F51835
    */

.root {
    -fx-background-image: url("../images/LandingPageBG2.png");
    -fx-background-size: cover;
}

#motorph_title {
    -fx-font-family: "Poppins";
    -fx-font-size: 96px;
    -fx-font-weight: bold;
}

#employees_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#employees_button:hover {
    -fx-background-color: #F51835;
}

#hr_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#hr_button:hover {
    -fx-background-color: #F51835;
}

#exit_button {
    -fx-background-color: #C5172E;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #CCCED5, 10, 0, 2, 4);
}

#exit_button:hover {
    -fx-background-color: #F51835;
}